:root{
    --text-color--: #d0d4ff;
    --emoji--: 'Noto Color Emoji', sans-serif;
    --main-color--: #e11d40;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
.card{
    transition: all .5s;
}

section{
    padding: 5% 0px;
}

hr{
    background: linear-gradient(to right, #ff3791c7, #ff522f93);
    border: none;
    margin: 5px auto;
    height: 3px;
    width: 50px;
}

body{
    background-color: #0b0e20;
    width: 100%;
    overflow-x: hidden;
}
.emoji{
    font-family: var(--emoji--);
}

p{
    font-size: 15px;
    margin-top: 10px;
}
h2{ 
    font-size: 35px;
    text-transform: uppercase;
}

h2, p{
    color: var(--text-color--);
    font-family: 'Chivo', sans-serif;
}

#header{
    padding: 10px 10% 10%;
    position: relative;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li a{
    color: var(--text-color--);
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
a{
    color: var(--text-color--);
}
nav div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.btn{
    background: linear-gradient(to right, #DD2476, #FF512F);
    padding: 10px 15px;
    color: #fff;    
    font-family: 'Chivo', sans-serif;
    border-radius: 50px;
    border-top-right-radius: 0px;
    display: inline-block;
    transition: bo 300ms ease-in-out, .5s;
}
.btn:hover {
    border-top-right-radius: 50px;
    transform: scale(0.95);
    box-shadow: 0 0px 20px #e11d40, 0 0px 5px #e11d40, 0 0 50px -5px #ff0033;
}
.description{
    width: 450px;
    margin-top: 150px;
}
.description .btn{
    margin-top: 20px;
    display: inline-block;
}
.description h2{
    font-size: 70px;
    font-family: 'Chivo', sans-serif;
    color: var(--text-color--);
}
.description p{
    font-weight: 500;
    line-height: 20px;
}
.btn:hover {
    border-top-right-radius: 50px;
    transform: scale(0.95);
    box-shadow: 0 0px 20px #e11d40, 0 0px 5px #e11d40, 0 0 50px -5px #ff0033;
}
.header-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pic {
    width: 500px;
    margin-top: 5rem;
    border-radius: 30%;
    box-shadow:-2px 2px 5px 0px #ff0033;
    transition: all 0.5s ease-out;
    animation: 2s infinite alternate floating;
}
.pic:hover{
    transform: translateY(-30px) scale(1.01);
    box-shadow: 0 0px 20px #e11d40, 0 0px 5px #e11d40, 0 0 50px -5px #ff0033;
}

        /* Styling about section */

#about{
    display: grid;
    align-items: center;
}
.about-me{
    width: 550px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding: 50px;
    background-color: #ffffff16;
    border-radius: 10px;
    transition: all .5s;
    animation: 3s infinite alternate floating;
}
.about-me h2{
    text-transform: uppercase;
    font-size: 35px;
}
.card:hover {
    transform: translateY(-10px) scale(1.03);
    background: linear-gradient();
    /* box-shadow: 0px -80px 120px -100px #ff0033 inset; */
}
.cv-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 13px;
}

    /* Styling Skill section */

#skills{
    padding: 5% 0px;
}
.describing-skills{
    width: 500px;
    margin: 5rem auto;
    text-align: center;
}

.skill-showcase{
    display: flex;
    justify-content: space-evenly;
}
.skill-items{
    width: 300px;
    height: 380px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
    background: #ffffff16;
    border-radius: 10px;
    outline: 2px solid #e11d40;
}
.skill-items i{
    font-size: 70px;
    color: #00ff59;
    padding: 30px;
}
.skill-items .btn{
    margin-top: 20px;
}

         /* Portfolio section */
#portfolio {
    padding: 10rem 9%;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    height: 200px;
    width: 350px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.portfolio-box img,video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
    opacity: 0.8;
}
.portfolio-box:hover img,video{
    scale: 1.15;
    opacity: 1;
}
.portfolio-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.111), #06071c );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transform: translateY(200px);
    transition: all .5s;
}
.portfolio-layer>h4{
    color: #D41080;
    font-family: 'Chivo', sans-serif;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(00px);
    opacity: 1;
}

        /*--------------- Contact Section ----------*/
#contact{
    text-align: center;
}
#contact h2{
    margin-bottom: 50px;
}

#contact-form{
    width: 49%;
    margin: auto;
}
.input-box input, textarea{
    width: 49%;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #1a1d31;
    font-size: 15px;
    color: #D0D4FF;
    font-weight: 600;
}
input, textarea::placeholder{
    font-weight: 500;
    text-transform: capitalize;
}
textarea{
    width: 100%;
    height: 250px;
    resize: none;
    font-family: sans-serif;
    font-weight: 400;
}
.input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer{
    
    background-color: #1a1d31;
}
.footer-content{
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
}
.footer-content .footer-icon{
    display: flex;
    gap: 10px;
}
.footer-content .footer-icon li{
    background: linear-gradient(to right, #DD2476, #FF512F);
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 50px;
    transition: bo 300ms ease-in-out, .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}
.footer-content .footer-icon li a{
    color: #fff;
}

.footer-content .footer-icon li:hover {
    transform: scale(0.95);
    box-shadow: 0 0px 20px #e11d40, 0 0px 10px #e11d40, 0 0 80px -5px #ff0033;
}




/* ------------------------- Animation */

    @keyframes floating{
        0%{
            transform: translateY(10px);
        }
        100%{
            transform: translateY(0px);
        }
    }


            /* ---------------Making Responsive------------- */

            /* 320px — 480px: Mobile devices
            481px — 768px: iPads, Tablets
            769px — 1024px: Small screens, laptops
            1025px — 1200px: Desktops, large screens
            1201px and more —  Extra large screens, TV */

@media only screen and (max-width: 480px){

    .header-content{
        flex-direction: column;
        align-items: center;
    }
    .pic{
        width: 300px;
    }
    .description{
        text-align: center;
    }
    #portfolio{
        display: none;
    }
    .about-me{
        width: 320px;
    }
    .describing-skills{
        width: 350px;
    }
    .skill-showcase{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .input-box{
        flex-direction: column;
        
    }
    #contact-form{
        width: 80%;
    }
    .input-box input{
        width: 100%;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-icon{
        margin-top: 2rem;
    }

}
